@media (max-width: 370px) {
    .products {
        display: grid;
        grid-template-columns: 175px 175px;
        padding: 15px 0px 15px 13px;
    }
}

@media (min-width: 370px) and (max-width: 380px) {
    .products {
        display: grid;
        grid-template-columns: 175px 175px;
        padding: 15px 20px 15px 20px;
    }
}

@media (min-width: 380px) and (max-width: 400px) {
    .products {
        display: grid;
        grid-template-columns: 175px 175px;
        padding: 15px 20px 15px 23px;
    }
}

@media (min-width: 400px) and (max-width: 420px) {
    .products {
        display: grid;
        grid-template-columns: 205px 205px;
        padding: 15px 20px 15px 20px;
    }
}