.body01 {
    display: colum;
}

.client-name span{
    position: absolute;
    background-color: white;
    font-size: 12px;
    font-weight: 600px;
    top: -8px;
    left: 50px;
    padding: 0px 5px;
}

.client-name{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    height: auto;
    width: 100%;
    position: relative;
    align-items: start;
    margin-bottom: 20px;
}

.client-name input{
    width: 75%;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 7px;
    color: black;
}

.button{
    margin-left: 130px;
    margin-top: 5%;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-bottom: 0;
}

input[type="radio"]:checked{
    background-color: black;
}

.card img{
    width: 65%;
    height: 75%;
    border: 25px;
    margin-top: 0px;
}

.card{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5px;
    height: 20px;
    width: 27%;
    margin-left: 65px;
    margin-top: 0;
}
.client-name h6{
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 10px;
    background-color: red;
}

.content-paymnent-method{
    border-bottom: 0px;
    gap: 2vh;
}

.content-paymnent-method span{
    display: flex;
    border-bottom: solid .3vh rgb(161, 159, 159);
    text-align: center;
}

.content-paymnent-method h6{
    display: flex;
    margin: 18px;
    margin-bottom: 0px;
    align-items: left;
}

.content-paymnent-method h6 a{
    margin-bottom: 5px;
    margin-top: 5px;
}

.pix{
    display: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    color: red;
    border-bottom: solid .3vh rgb(161, 159, 159);
}


