.body01 {
    display: flex;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
}

.topo{
    width: 100%;
}

.b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.logo img {
    max-width: 100px;
    margin-left: 10%;
    margin-top: 5%;
}


    .logo i{
   max-width: 100px;
   font-size: 50px;
   width: 100px;
   margin-left: 190px;
   margin-top: 0px;
   margin-bottom: 0px;
   color: rgb(21, 65, 211);
   
}

.text h6{
    display: flex;
    margin-top: 50pc;
    margin-left: 26px; 
    margin: 50px;
    
}

.text_box input{
    display: flex;  
    width: 257px;
    height: 20px;
    margin-left: 25px;
    margin-bottom: 45px;
    background-color: transparent;
    color: black;
    margin-bottom: 15px;

    
}

.text_E_m_P{
    
    border-bottom: 0px;
    gap: 2vh;
}


.text_E_m_P h5{
    display: flex;
   
    margin-bottom: 5%;
    border-bottom: solid .3vh rgb(161, 159, 159);
    
}


.text_box .pagamento h6{
    display: flex;
    margin: 18px;
    margin-right: 100px;
    align-items: left;
}

.text .pagamento{
    border-bottom: solid .3vh rgb(161, 159, 159);
    align-items: left;
}

.button{
    display: flex;
    margin-left: 100px;
    margin-top: 18%;

}


input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-bottom: 0;
}

input[type="radio"]:checked{
    background-color: black;
}

.text_box .pagamento h6 a{
    margin-top: 5px;
 
}

img {
    width: 75%;
    height: 75%;
}

.card{
    /* background-color: red; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5px;
    height: 20px;
    width: 50%;
    margin-left: 15px;
}