.container-cart{
    width: 30vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    word-wrap: inherit;

    background-color: white;
    border-top-left-radius: 50px;
    border-left: solid rgb(0, 74, 141) 6px;
}

.container-cart .title-cart{
    width: 70%;
    height: 40px;
    margin-top: 50px;
    
    text-align: center;
    overflow: hidden;
    border-bottom: 3px solid rgba(0, 74, 141, 0.1);
}

.container-cart .title-cart span{
    font-size: 25px;
    font-weight: 800;
    
    color: rgb(0, 74, 141);
}

.container-cart .content-cart{
    width: 95%;
    height: 64%;
    padding: 20px 0px 20px 0px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    gap: 15px;

    
}

.container-cart .content-cart .box-produto-cart{
    width: 85%;
    height: 20%;
    padding: 1.5vh;

    position: relative;
    display: flex;

    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    z-index: 2;
    animation: addingProd 300ms normal forwards;
}

.container-cart .content-cart .box-produto-cart .fa-trash{
    position: absolute;
    top: 3px;
    left: 5px;

    border-radius: 50%;
    padding: 5px;

    font-size: 22px;
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart .fa-trash:hover{
    color: rgb(200, 0, 0);
    cursor: pointer;
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart{
    width: 40%;
    height: 100%;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart img{
    width: 80%;
    height: 95%;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25%;
    border: solid 1px black;
    cursor: pointer;

    background-color: rgba(255, 0, 0, 0.250);
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus:hover{
    background-color: rgba(255, 0, 0, 0.700);
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 25%;
    border: solid 1px black;
    cursor: pointer;

    background-color: rgba(0, 128, 0, 0.250);
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum:hover{
    background-color: rgba(0, 128, 0, 0.700);
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25%;

    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: 600;
}

.container-cart .content-cart .box-produto-cart .infos-produto-cart{
    width: 60%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    gap: .2vh;
}
.container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
    font-size: 16px;
    font-weight: 600;
}
.container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
    font-size: 16px;
    font-weight: 600;
    color: rgb(66, 107, 31);
}

.container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
    position: absolute;
    bottom: -10px;
}

.container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
    font-size: 18px;
    font-weight: 500;
}

.container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
    font-size: 18px;
    font-weight: 600;
    color: rgb(66, 107, 31);
}

.container-cart .total-cart{
    position: absolute;
    bottom: 6.5%;
    left: 10px;
}

.container-cart .total-string{
    font-size: 22px;
    font-weight: 700;
}

.container-cart .total-preco{
    font-size: 22px;
    font-weight: 700;
    color: rgb(66, 107, 31);
    
}

.container-cart button{
    width: 100%;
    height: 6%;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    bottom: 0;
    gap: 25px;
    z-index: 2;

    background-color: rgb(245, 113, 75);
    box-shadow: 0px -1px 5px black;
    font-size: 22px;
    font-weight: 600;

    transition: .1s;
}

.container-cart button:hover{
    background-color: rgb(208, 93, 61);
    box-shadow: 0px -1px 7px black;
    transition: .1s;
    cursor: pointer;
}

.container-cart button i{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 25px;
    width: 40px;
    height: 40px;
}

.container-cart button:hover i{
    animation: arrowMove 600ms infinite alternate;
}

.container-cart .triangle-one{
    width: 320px;
    height: 530px;

    position: absolute;
    bottom: -150px;
    right: -180px;
    z-index: 1;
    opacity: .3;
}
.container-cart .triangle-two{
    width: 300px;
    height: 600px;

    position: absolute;
    bottom: 0px;
    right: -170px;
    z-index: 1;
    opacity: .3;
}

.emptyCart-warn{
    color: rgba(0, 0, 0, 0.300);
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;
}

.emptyCart-face{
    position: absolute;
    top: 200px;
    opacity: .25;
}

@keyframes arrowMove {
    0%{
        transform: rotateX(0deg);
    }

    100%{
        transform: translateX(3vh);
    }
}


/* estilo para animar a saída do produto deletado pelo usuário */
.container-cart .content-cart .box-produto-cart-out{
    width: 85%;
    height: 20%;
    padding: 1.5vh;

    position: relative;
    display: flex;

    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    z-index: 2;

    pointer-events: none;
    animation: deletingProd 300ms normal forwards;
}

.container-cart .content-cart .box-produto-cart-out .fa-trash{
    position: absolute;
    top: 3px;
    left: 5px;

    border-radius: 50%;
    padding: 5px;

    font-size: 22px;
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart-out .img-counter-cart{
    width: 40%;
    height: 100%;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cart .content-cart .box-produto-cart-out .img-counter-cart img{
    width: 80%;
    height: 95%;
}

.container-cart .content-cart .box-produto-cart-out .img-counter-cart .counter-cart{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.container-cart .content-cart .box-produto-cart-out .img-counter-cart .counter-cart .minus{
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25%;
    border: solid 1px black;
    cursor: pointer;

    background-color: rgba(255, 0, 0, 0.250);
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart-out .img-counter-cart .counter-cart .sum{
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 25%;
    border: solid 1px black;
    cursor: pointer;

    background-color: rgba(0, 128, 0, 0.250);
    transition: .1s;
}

.container-cart .content-cart .box-produto-cart-out .img-counter-cart .counter-cart .numberQtt{
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25%;

    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: 600;
}

.container-cart .content-cart .box-produto-cart-out .infos-produto-cart{
    width: 60%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    gap: .2vh;
}
.container-cart .content-cart .box-produto-cart-out .infos-produto-cart .name-produto{
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.container-cart .content-cart .box-produto-cart-out .infos-produto-cart .preco-string{
    font-size: 16px;
    font-weight: 600;
}
.container-cart .content-cart .box-produto-cart-out .infos-produto-cart .preco-produto{
    font-size: 16px;
    font-weight: 600;
    color: rgb(66, 107, 31);
}

.container-cart .content-cart .box-produto-cart-out .infos-produto-cart .subtotal-produto{
    position: absolute;
    bottom: -10px;
}

.container-cart .content-cart .box-produto-cart-out .infos-produto-cart .subtotal-string{
    font-size: 18px;
    font-weight: 500;
}

.container-cart .content-cart .box-produto-cart-out .infos-produto-cart .subtotal-preco{
    font-size: 18px;
    font-weight: 600;
    color: rgb(66, 107, 31);
}

@keyframes deletingProd {
    0%{
        transform: translateX(0vh);
    }
    25%{
        transform: translateX(-1vh);
        border: solid 2px rgb(137, 1, 1);
        opacity: 0.8;
    }
    50%{
        transform: translateX(-2vh);
        opacity: 0.5;
    }
    100%{
        transform: translateX(100vh);
        opacity: 0;
    }
}

@keyframes addingProd {
    0%{
        transform: translateX(100vh);
        opacity: 0;
    }
    25%{
        transform: translateX(-2vh);
        opacity: 0.5;
    }
    50%{
        transform: translateX(-1vh);
        opacity: 0.8;
    }
    100%{
        transform: translateX(0vh);
        opacity: 1;
    }
}

@media (min-width: 1351px) and (max-width: 1500px) {
    .container-cart{
        width: 40vw;
    }

    .container-cart .content-cart{
        width: 95%;
        height: 64%;
        padding: 15px 0px;
        gap: 20px;
    }

    .container-cart .content-cart .box-produto-cart{
        height: 25%;
        padding: 2vh;
    }
    
    .container-cart .content-cart .box-produto-cart .fa-trash{
        font-size: 25px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart img{
        width: 80%;
        height: 95%;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
        width: 20%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 5px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
        width: 30px;
        height: 30px;
        font-size: 18px;
        font-weight: 800;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(255, 0, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
        width: 30px;
        height: 30px;
        font-size: 18px;
        font-weight: 600;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(0, 128, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
        width: 35px;
        height: 35px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
    
        background-color: rgba(0, 0, 0, 0);
        font-size: 23px;
        font-weight: 600;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart{
        width: 60%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    
        gap: .2vh;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
        font-size: 16px;
        font-weight: 600;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
        font-size: 16px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
        position: absolute;
        bottom: -10px;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
        font-size: 18px;
        font-weight: 500;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
        font-size: 18px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .total-cart{
        position: absolute;
        bottom: 7%;
        left: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1350px) {
    .container-cart{
        width: 40vw;
    }

    .container-cart .content-cart{
        width: 95%;
        height: 64%;
        padding: 15px 0px;
        gap: 20px;
    }

    .container-cart .content-cart .box-produto-cart{
        height: 25%;
        padding: 2vh;
    }
    
    .container-cart .content-cart .box-produto-cart .fa-trash{
        font-size: 25px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart img{
        width: 80%;
        height: 95%;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
        width: 20%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 5px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
        width: 30px;
        height: 30px;
        font-size: 18px;
        font-weight: 800;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(255, 0, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
        width: 30px;
        height: 30px;
        font-size: 18px;
        font-weight: 600;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(0, 128, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
        width: 35px;
        height: 35px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
    
        background-color: rgba(0, 0, 0, 0);
        font-size: 23px;
        font-weight: 600;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart{
        width: 60%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    
        gap: .2vh;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
        font-size: 16px;
        font-weight: 600;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
        font-size: 16px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
        position: absolute;
        bottom: -10px;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
        font-size: 18px;
        font-weight: 500;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
        font-size: 18px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .total-cart{
        position: absolute;
        bottom: 7%;
        left: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) and (max-height: 1400px) {
    .container-cart{
        width: 70vw;
    }

    .container-cart .content-cart{
        width: 95%;
        height: 70%;
        padding: 15px 0px;
        gap: 30px;
    }

    .container-cart .content-cart .box-produto-cart{
        width: 90%;
        height: 18%;
        padding: 1.5vh;
    }
    
    .container-cart .content-cart .box-produto-cart .fa-trash{
        font-size: 28px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart img{
        width: 80%;
        height: 95%;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
        width: 20%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 10px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
        width: 38px;
        height: 38px;
        font-size: 24px;
        font-weight: 800;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(255, 0, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
        width: 38px;
        height: 38px;
        font-size: 24px;
        font-weight: 600;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(0, 128, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
        width: 35px;
        height: 35px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
    
        background-color: rgba(0, 0, 0, 0);
        font-size: 25px;
        font-weight: 600;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart{
        width: 60%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    
        gap: .2vh;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
        font-size: 29px;
        font-weight: 400;
        text-align: center;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
        font-size: 20px;
        font-weight: 600;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
        font-size: 20px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
        position: absolute;
        bottom: -10px;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
        font-size: 22px;
        font-weight: 500;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
        font-size: 22px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .total-cart{
        position: absolute;
        bottom: 7%;
        left: 10px;
    }
}

@media (min-width: 651px) and (max-width: 768px) {
    .container-cart{
        width: 85vw;
    }

    .container-cart .content-cart{
        width: 95%;
        height: 70%;
        padding: 15px 0px;
        gap: 25px;
    }

    .container-cart .content-cart .box-produto-cart{
        width: 90%;
        height: 18%;
        padding: 1.5vh;
    }
    
    .container-cart .content-cart .box-produto-cart .fa-trash{
        font-size: 28px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart img{
        width: 80%;
        height: 95%;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
        width: 20%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 10px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
        width: 33px;
        height: 33px;
        font-size: 18px;
        font-weight: 800;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(255, 0, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
        width: 33px;
        height: 33px;
        font-size: 18px;
        font-weight: 600;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(0, 128, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
        width: 35px;
        height: 35px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
    
        background-color: rgba(0, 0, 0, 0);
        font-size: 25px;
        font-weight: 600;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart{
        width: 60%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    
        gap: .2vh;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
        font-size: 23px;
        font-weight: 400;
        text-align: center;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
        font-size: 17px;
        font-weight: 600;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
        font-size: 17px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
        position: absolute;
        bottom: -10px;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
        font-size: 18px;
        font-weight: 500;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
        font-size: 18px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .total-cart{
        position: absolute;
        bottom: 7%;
        left: 10px;
    }

    .emptyCart-warn{
        color: rgba(0, 0, 0, 0.300);
        font-size: 35px;
        font-weight: 700;
        margin-top: 50px;
    }
    
    .emptyCart-face{
        position: absolute;
        top: 180px;
        opacity: .25;
    }

    .container-cart button{
        font-size: 25px;
        height: 7%;
        gap: 20px;
    }
    
    
    .container-cart button i{
        font-size: 28px;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .container-cart{
        width: 85vw;
    }

    .container-cart .content-cart{
        width: 95%;
        height: 70%;
        padding: 5px 0px;
    }

    .container-cart .content-cart .box-produto-cart{
        width: 90%;
        height: 18.5%;
        padding: 1.5vh;
    }
    
    .container-cart .content-cart .box-produto-cart .fa-trash{
        font-size: 25px;
        top: 3px;
        left: 6px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart img{
        width: 80%;
        height: 95%;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
        width: 20%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 4px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
        width: 30px;
        height: 30px;
        font-size: 18px;
        font-weight: 800;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(255, 0, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
        width: 30px;
        height: 30px;
        font-size: 18px;
        font-weight: 600;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(0, 128, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
        width: 35px;
        height: 35px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
    
        background-color: rgba(0, 0, 0, 0);
        font-size: 20px;
        font-weight: 600;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart{
        width: 60%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    
        gap: .3vh;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
        font-size: 17px;
        font-weight: 600;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
        font-size: 17px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
        position: absolute;
        bottom: -7px;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
        font-size: 16px;
        font-weight: 500;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
        font-size: 16px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .total-cart{
        position: absolute;
        bottom: 7%;
        left: 10px;
    }

    .emptyCart-warn{
        color: rgba(0, 0, 0, 0.300);
        font-size: 28px;
        font-weight: 700;
        margin-top: 50px;
    }
    
    .emptyCart-face{
        position: absolute;
        top: 180px;
        opacity: .25;
    }

    .container-cart button{
        font-size: 24px;
        height: 7%;
        gap: 20px;
    }
    
    
    .container-cart button i{
        font-size: 23px;
    }
}


@media (min-width: 381px) and (max-width: 480px) {
    .container-cart{
        width: 90vw;
    }

    .container-cart .content-cart{
        width: 95%;
        height: 66%;
        padding: 10px 0px;
    }

    .container-cart .content-cart .box-produto-cart{
        width: 90%;
        height: 19%;
        padding: 2.5vh 1.5vh;
    }
    
    .container-cart .content-cart .box-produto-cart .fa-trash{
        font-size: 20px;
        left: 2px;
        top: 2px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart img{
        width: 80%;
        height: 95%;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
        width: 20%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 5px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
        width: 24px;
        height: 24px;
        font-size: 18px;
        font-weight: 800;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(255, 0, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
        width: 24px;
        height: 24px;
        font-size: 18px;
        font-weight: 600;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(0, 128, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
        width: 30px;
        height: 30px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
    
        background-color: rgba(0, 0, 0, 0);
        font-size: 22px;
        font-weight: 600;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart{
        width: 70%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    
        gap: .2vh;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
        font-size: 15px;
        font-weight: 600;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
        font-size: 15px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
        position: absolute;
        bottom: -10px;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
        font-size: 17px;
        font-weight: 500;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
        font-size: 17px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }

    .container-cart .total-string{
        font-size: 18px;
        font-weight: 700;
    }
    
    .container-cart .total-preco{
        font-size: 18px;
        font-weight: 700;
        color: rgb(66, 107, 31);
        
    }
    
    .container-cart .total-cart{
        position: absolute;
        bottom: 7%;
        left: 10px;
    }

    .emptyCart-warn{
        color: rgba(0, 0, 0, 0.300);
        font-size: 23px;
        font-weight: 700;
        margin-top: 50px;
    }
    
    .emptyCart-face{
        position: absolute;
        top: 180px;
        opacity: .25;
    }

    .container-cart button{
        font-size: 18px;
        height: 7%;
        gap: 10px;
    }
    
    
    .container-cart button i{
        font-size: 20px;
    }
}


@media (max-width: 380px) {
    .container-cart{
        width: 80vw;
    }

    .container-cart .title-cart span{
        font-size: 21px;
    }

    .container-cart .content-cart{
        width: 95%;
        height: 55%;
        padding: 5px 0px;
    }

    .container-cart .content-cart .box-produto-cart{
        width: 90%;
        height: 30%;
        padding: 3vh 2vh;
    }
    
    .container-cart .content-cart .box-produto-cart .fa-trash{
        font-size: 22px;
        top: 2px;
        left: 2px;
    }

    .container-cart .content-cart .box-produto-cart .img-counter-cart{
        flex-direction: column;
    }
    .container-cart .content-cart .box-produto-cart .img-counter-cart img{
        width: 100%;
        height: 95%;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: row;
    
        gap: 10px;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
        width: 25px;
        height: 25px;
        font-size: 18px;
        font-weight: 800;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(255, 0, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
        width: 25px;
        height: 25px;
        font-size: 18px;
        font-weight: 600;
    
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 25%;
        border: solid 1px black;
        cursor: pointer;
    
        background-color: rgba(0, 128, 0, 0.250);
        transition: .1s;
    }
    
    .container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
        width: 28px;
        height: 28px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 25%;
    
        background-color: rgba(0, 0, 0, 0);
        font-size: 21px;
        font-weight: 400;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart{
        width: 60%;
        height: 100%;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    
        gap: .2vh;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
        font-size: 12px;
        font-weight: 600;
    }
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
        font-size: 12px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
        position: absolute;
        bottom: -10px;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
        font-size: 13px;
        font-weight: 500;
    }
    
    .container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
        font-size: 13px;
        font-weight: 600;
        color: rgb(66, 107, 31);
    }
    
    .container-cart .total-cart{
        position: absolute;
        bottom: 7%;
        left: 10px;
    }

    .container-cart .total-string{
        font-size: 16px;
        font-weight: 700;
    }
    
    .container-cart .total-preco{
        font-size: 16px;
        font-weight: 700;
        color: rgb(66, 107, 31);
        
    }

    .emptyCart-warn{
        color: rgba(0, 0, 0, 0.300);
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
    }
    
    .emptyCart-face{
        position: absolute;
        top: 150px;
        opacity: .25;
    }
    .container-cart button{
        font-size: 14px;
        height: 7%;
        gap: 10px;
    }
    
    
    .container-cart button i{
        font-size: 18px;
    }
}