.container-cart{
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    word-wrap: inherit;

    background-color: white;
    border-top-left-radius: 50px;
    border-left: solid rgb(0, 74, 141) 6px;
}

.container-cart .title-cart{
    width: 60%;
    height: 40px;
    margin-top: 50px;
    
    text-align: center;
    overflow: hidden;
    border-bottom: 3px solid rgba(0, 74, 141, 0.1);
}

.container-cart .title-cart span{
    font-size: 25px;
    font-weight: 800;
    
    color: rgb(0, 74, 141);
}

.container-cart .content-cart{
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 40px;
    overflow-y: auto;
    gap: 15px;
}

.container-cart .content-cart .box-produto-cart{
    width: 85%;
    height: 15vh;
    display: flex;
    position: relative;

    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    z-index: 2;
}

.container-cart .content-cart .box-produto-cart .fa-trash{
    position: absolute;
    top: 6px;
    left: 8px;

    font-size: 18px;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart{
    width: 50%;
    height: 100%;

    border-radius: 10px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart img{
    width: 95%;
    height: 55%;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart{
    width: 200%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .minus{
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;

    background-color: red;
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .numberQtt{
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20%;
    border: solid 1px rgb(194, 194, 194);

    background-color: rgba(255, 255, 255, 0);
}

.container-cart .content-cart .box-produto-cart .img-counter-cart .counter-cart .sum{
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;

    background-color: green;
}

.container-cart .content-cart .box-produto-cart .infos-produto-cart{
    width: 60%;
    height: 100%;
    margin-top: 5px;

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.container-cart .content-cart .box-produto-cart .infos-produto-cart .name-produto{
    font-size: 16px;
    font-weight: 300;
}
.container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-string{
    font-size: 12px;
    font-weight: 500;
}
.container-cart .content-cart .box-produto-cart .infos-produto-cart .preco-produto{
    font-size: 12px;
    font-weight: 600;
    color: rgb(66, 107, 31);
}

.container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-produto{
    position: absolute;
    bottom: 10px;
}

.container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-string{
    font-size: 12px;
    font-weight: 500;
}

.container-cart .content-cart .box-produto-cart .infos-produto-cart .subtotal-preco{
    font-size: 12px;
    font-weight: 600;
    color: rgb(66, 107, 31);
}

.container-cart button{
    width: 100%;
    height: 6%;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    bottom: 0;
    gap: 15px;
    z-index: 2;

    background-color: rgb(245, 113, 75);
    box-shadow: 0px -1px 5px black;
    font-size: 18px;
    font-weight: 600;
}

.container-cart button img{
    width: 30px;
    height: 30px;
}

.container-cart .total-cart{
    position: absolute;
    bottom: 45px;
    left: 10px;
}

.container-cart .total-string{
    font-size: 19px;
    font-weight: 700;
}

.container-cart .total-preco{
    font-size: 17px;
    font-weight: 700;
    color: rgb(66, 107, 31);
}

.container-cart .triangle-one{
    width: 320px;
    height: 530px;

    position: absolute;
    bottom: -150px;
    right: -180px;
    z-index: 1;
    opacity: .3;
}
.container-cart .triangle-two{
    width: 300px;
    height: 600px;

    position: absolute;
    bottom: 0px;
    right: -170px;
    z-index: 1;
    opacity: .3;
}

.emptyCart-warn{
    color: rgba(0, 0, 0, 0.300);
    font-weight: 700;
}