header {
    width: 70vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.logo img {
    max-width: 200px;
}

.cart {
    width: 50px;
    height: 50px;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;
}

.cart button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: black;
}

.cart button .cart-icon {
    width: 65px;
    height: 65px;
}

.cart button .shopping-return{
    width: 75px;
    height: 75px;
}
    
.cart button .review-return{
    width: 75px;
}    

.counter {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33px;
    height: 33px;

    position: absolute;
    top: 10px;
    right: 2px;

    color: white;
    font-weight: 800;
    font-size: 19px;

    border-radius: 50%;
    background-color: rgb(44, 44, 175);
}

.counter-itemAdded {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33px;
    height: 33px;

    position: absolute;
    top: 10px;
    right: 2px;

    color: white;
    font-weight: 800;
    font-size: 19px;

    border-radius: 50%;
    background-color: rgb(44, 44, 175);
    animation: newItemCart 100ms normal forwards;
}

.iconText{
    position: absolute;
    bottom: 0px;
    font-size: 8px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    font-size: 45px;
    margin: 20px 0px;
}

.title p {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

<<<<<<< Updated upstream
=======
@keyframes newItemCart {
   0%{
    transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}


@media (min-width: 1351px) and (max-width: 1500px) {
    header {
        width: 60vw;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo img {
        max-width: 185px;
    }
    
    .cart {
        width: 60px;
        height: 60px;
        padding: 0;

        position: absolute;
        right: 35px;
        top: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 25px;
    }

    .cart button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
    }

    .cart button .cart-icon {
        width: 70px;
        height: 70px;
    }

    .cart button .shopping-return {
        width: 85px;
        height: 95px;
    }
        
    .cart button .review-return {
        width: 85px;
        height: 95px;
    }    

    .counter {
        width: 35px;
        height: 35px;
        right: 0;

        font-size: 22px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
    }

    .counter-itemAdded {
        width: 35px;
        height: 35px;
        right: 0;

        font-size: 22px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
        animation: newItemCart 100ms normal forwards;
    }

    .iconText {
        position: absolute;
        bottom: -15px;
        
        font-size: 16px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.45);
    }
    
    .title h2 {
        font-size: 45px;
    }

    .title p {
        font-size: 20px;
    }
}

>>>>>>> Stashed changes
@media (min-width: 1025px) and (max-width: 1350px) {
    header {
        width: 60vw;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo img {
        max-width: 185px;
    }
    
    .cart {
        width: 60px;
        height: 60px;
        padding: 0;

        position: absolute;
        right: 35px;
        top: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 25px;
    }

    .cart button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
    }

    .cart button .cart-icon {
        width: 70px;
        height: 70px;
    }

    .cart button .shopping-return {
        width: 85px;
        height: 95px;
    }
        
    .cart button .review-return {
        width: 85px;
        height: 95px;
    }    

    .counter {
        width: 35px;
        height: 35px;
        right: 0;

        font-size: 22px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
    }
    .counter-itemAdded {
        width: 35px;
        height: 35px;
        right: 0;

        font-size: 22px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
        animation: newItemCart 100ms normal forwards;
    }

    .iconText {
        position: absolute;
        bottom: -15px;
        
        font-size: 16px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.45);
    }
    
    .title h2 {
        font-size: 45px;
    }

    .title p {
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) and (max-height: 1400px) {
    header {
        width: 100%;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 35px 0px 35px;
    }
    
    .logo img {
        max-width: 195px;
    }
    
    .cart {
        width: 80px;
        height: 75px;

        position: absolute;
        right: 35px;
        top: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 30px;
    }

    .cart button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
    }

    .cart button .cart-icon {
        width: 90px;
        height: 90px;
    }

    .cart button .shopping-return {
        width: 95px;
        height: 105px;
    }
        
    .cart button .review-return {
        width: 95px;
        height: 105px;
    }    

    .counter {
        width: 35px;
        height: 35px;
        right: 0;

        font-size: 24px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
    }
    .counter-itemAdded {
        width: 35px;
        height: 35px;
        right: 0;

        font-size: 24px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
        animation: newItemCart 100ms normal forwards;
    }

    .iconText {
        position: absolute;
        bottom: -15px;
        
        font-size: 16px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.45);
    }
    
    .title h2 {
        font-size: 45px;
    }

    .title p {
        font-size: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    header {
        width: 100%;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 45px 0px 45px;
    }
    
    .logo img {
        max-width: 190px;
    }
    
    .cart {
        width: 80px;
        height: 75px;

        position: absolute;
        right: 35px;
        top: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 30px;
    }

    .cart button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
    }

    .cart button .cart-icon {
        width: 90px;
        height: 90px;
    }

    .cart button .shopping-return {
        width: 95px;
        height: 105px;
    }
        
    .cart button .review-return {
        width: 95px;
        height: 105px;
    }    

    .counter {
        width: 35px;
        height: 35px;

        font-size: 23px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
    }
    .counter-itemAdded {
        width: 35px;
        height: 35px;

        font-size: 23px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
        animation: newItemCart 100ms normal forwards;
    }

    .iconText {
        position: absolute;
        bottom: -15px;
        
        font-size: 16px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.45);
    }
    
    .title h2 {
        font-size: 45px;
    }

    .title p {
        font-size: 20px;
    }
}

@media (min-width: 380px) and (max-width: 480px) {
    header {
        width: 100%;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 25px;
    }
    
    .logo img {
        max-width: 125px;
    }
    
    .cart {
        width: 75px;
        height: 75px;
        padding: 10px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
    }

    .cart button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
        font-size: 45px;
    }

    .cart button .cart-icon {
        width: 55px;
        height: 55px;
    }

    .cart button .shopping-return {
        width: 80px;
        height: 90px;
    }
        
    .cart button .review-return {
        width: 80px;
        height: 90px;
    }    

    .counter {
        width: 24px;
        height: 24px;

        font-size: 16px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
    }
    .counter-itemAdded {
        width: 24px;
        height: 24px;

        font-size: 16px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
        animation: newItemCart 100ms normal forwards;
    }

    .iconText {
        position: absolute;
        bottom: -15px;
        
        font-size: 10px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.45);
    }
    
    .title h2 {
        font-size: 27px;
    }

    .title p {
        font-size: 13px;
    }
}

@media (max-width: 379px) {
    header {
        width: 100%;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
    }
    
    .logo img {
        max-width: 115px;
    }
    
    .cart {
        width: 75px;
        height: 75px;

        position: absolute;
        right: 15px;
        top: 5px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .cart button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
    }

    .cart button .cart-icon {
        width: 50px;
        height: 50px;
    }

    .cart button .shopping-return {
        width: 60px;
        height: 60px;
    }
        
    .cart button .review-return {
        width: 70px;
        height: 75px;
    }    

    .counter {
        width: 21px;
        height: 21px;

        font-size: 14px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
    }

    .counter-itemAdded {
        width: 21px;
        height: 21px;

        font-size: 14px;
        color: white;
        background-color: rgb(44, 44, 175);
        border-radius: 50%;
        animation: newItemCart 100ms normal forwards;
    }

    .iconText {
        position: absolute;
        bottom: -10px;
        
        font-size: 9px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.45);
    }

    .title h2 {
        font-size: 25px;
    }

    
    .title p {
        font-size: 13px;
    }
}