nav {
    width: 70vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-top: 2px rgba(128, 128, 128, 0.25) solid;
    border-bottom: 2px rgba(128, 128, 128, 0.25) solid;
    padding: 15px 0px 5px 0px;
}

.search {
    width: 90%;
    height: auto;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px 0px;
}

.search input {
    width: 100%;
    height: 45px;
    padding: 7px 20px;
    
    font-size: 20px;
    font-weight: 500;
    color: black;
    
    background-color: transparent;
    border: 1px rgba(3, 3, 3, 0.1) solid;
    border-radius: 10px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);
}

.search input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.450);
}

.search i {
    position: absolute;
    right: 15px;
    font-size: 30px;
}

.filters {
    width: 100%;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 10px 0px 5px 0px;
    gap: 40px;
}

@media (min-width: 1025px) and (max-width: 1350px) {
    nav {
        width: 60vw;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        border-top: 2px rgba(128, 128, 128, 0.25) solid;
        border-bottom: 2px rgba(128, 128, 128, 0.25) solid;
        padding: 10px 0px;
    }

    .search {
        width: 90%;
        height: auto;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 5px 0px;
    }
    
    .search input {
        width: 100%;
        height: 45px;
        padding: 7px 20px;
        
        font-size: 20px;
        font-weight: 500;
        color: black;
        
        background-color: transparent;
        border: 1px rgba(3, 3, 3, 0.1) solid;
        border-radius: 10px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);
    }

    .search input::placeholder {
        font-size: 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.450);
    }

    .search i {
        position: absolute;
        right: 15px;
        font-size: 30px;
    }

    .filters {
        width: 100%;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 10px 0px 5px 0px;
        gap: 40px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) and (max-height: 1400px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        border-top: 2px rgba(128, 128, 128, 0.25) solid;
        border-bottom: 2px rgba(128, 128, 128, 0.25) solid;
        padding: 10px 0px;
    }

    .search {
        width: 90%;
        height: auto;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 5px 0px;
    }
    
    .search input {
        width: 100%;
        height: 55px;
        padding: 7px 20px;
        
        font-size: 27px;
        font-weight: 500;
        color: black;
        
        background-color: transparent;
        border: 1px rgba(3, 3, 3, 0.1) solid;
        border-radius: 10px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);
    }

    .search input::placeholder {
        font-size: 25px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.450);
    }

    .search i {
        position: absolute;
        right: 15px;
        font-size: 30px;
    }

    .filters {
        width: 100%;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 15px 0px 5px 0px;
        gap: 55px;
    }
}

@media (min-width: 651px) and (max-width: 768px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        border-top: 2px rgba(128, 128, 128, 0.25) solid;
        border-bottom: 2px rgba(128, 128, 128, 0.25) solid;
        padding: 10px 0px;
    }

    .search {
        width: 95%;
        height: auto;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 2px 0px;
    }
    
    .search input {
        width: 100%;
        height: 55px;
        padding: 7px 12px;
        
        font-size: 23px;
        font-weight: 500;
        color: black;
        
        background-color: transparent;
        border: 1px rgba(3, 3, 3, 0.4) solid;
        border-radius: 10px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    }

    .search input::placeholder {
        font-size: 21px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.550);
    }

    .search i {
        position: absolute;
        right: 8px;
        font-size: 25px;
        right: 12px;
    }

    .filters {
        width: 100%;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 5px 0px;
        gap: 45px;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        border-top: 2px rgba(128, 128, 128, 0.25) solid;
        border-bottom: 2px rgba(128, 128, 128, 0.25) solid;
        padding: 10px 0px;
    }

    .search {
        width: 95%;
        height: auto;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 2px 0px;
    }
    
    .search input {
        width: 100%;
        height: 50px;
        padding: 7px 12px;
        
        font-size: 20px;
        font-weight: 500;
        color: black;
        
        background-color: transparent;
        border: 1px rgba(3, 3, 3, 0.4) solid;
        border-radius: 10px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    }

    .search input::placeholder {
        font-size: 18px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.550);
    }

    .search i {
        position: absolute;
        font-size: 23px;
        right: 12px;
    }

    .filters {
        width: 100%;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 5px 0px;
        gap: 35px;
    }
}

@media (min-width: 381px) and (max-width: 480px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        border-top: 2px rgba(128, 128, 128, 0.25) solid;
        border-bottom: 2px rgba(128, 128, 128, 0.25) solid;
        padding: 10px 0px;
    }

    .search {
        width: 90%;
        height: auto;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 2px 0px;
    }
    
    .search input {
        width: 100%;
        height: 40px;
        padding: 7px 12px;
        
        font-size: 16px;
        font-weight: 500;
        color: black;
        
        background-color: transparent;
        border: 1px rgba(3, 3, 3, 0.4) solid;
        border-radius: 10px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    }

    .search input::placeholder {
        font-size: 14.5px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.350);
    }

    .search i {
        position: absolute;
        right: 8px;
    }

    .filters {
        width: 100%;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 5px 0px;
        gap: 25px;
    }
}

@media (max-width: 380px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        border-top: 2px rgba(128, 128, 128, 0.25) solid;
        border-bottom: 2px rgba(128, 128, 128, 0.25) solid;
        padding: 10px 0px;
    }

    .search {
        width: 95%;
        height: auto;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 2px 0px;
    }
    
    .search input {
        width: 100%;
        height: 35px;
        padding: 7px 12px;
        
        font-size: 15px;
        font-weight: 500;
        color: black;
        
        background-color: transparent;
        border: 1px rgba(3, 3, 3, 0.4) solid;
        border-radius: 10px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    }

    .search input::placeholder {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.350);
    }

    .search i {
        position: absolute;
        right: 8px;
    }

    .filters {
        width: 100%;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 5px 0px;
        gap: 25px;
    }
}